<style type="text/css">
  /* CSS used here will be applied after bootstrap.css */


  .pagetitle {
    border-bottom:1px 
    solid #cccccc; 
    padding-bottom:30px; 
    margin-bottom:30px;
  }

  .checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
  }

  .checkbox-grid li label {
    margin-left: 10px;
  }
</style>

<script type="text/javascript">
  function dynInput(cbox) {
  if (cbox.checked) {
    var input = document.createElement("input");
    input.type = "text";
    var div = document.createElement("div");
    div.id = cbox.name;
    div.appendChild(input);
    document.getElementById("insertinputs").appendChild(div);
  } else {
    document.getElementById(cbox.name).remove();
  }
}
</script>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a ui-sref="home">Home</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>

        <div class="row-fluid top30 pagetitle">
          <div class="container">  
            <div class="row">
              <div class="col-md-12"><h1>Profile</h1></div>
            </div>
          </div>
        </div>

        <div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a ui-sref="account" data-target="#personal" data-toggle="tab" class="nav-link">Personal</a>
                </li>
                <li class="nav-item">
                    <a ui-sref="medical_profile" data-target="#medical" data-toggle="tab" class="nav-link active">Medical</a>
                </li>
                <li class="nav-item">
                    <a ui-sref="support_team" data-target="#team" data-toggle="tab" class="nav-link">Support Team</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="personal">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="cancerType">Cancer type</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" id="cancerType" ng-model="vm.user.cancerType" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="stage">Stage</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="Select Stage">
                                  <option selected disabled value=''>Select stage</option>
                                  <option value="one">I</option>
                                  <option value="two">II</option>
                                  <option value="three">III</option>
                                  <option value="four">IV</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="Metastasis">Metastasis</label>
                            
                              <ul class="checkbox-grid col-lg-9">
    <li><input type="checkbox" name="Bone" value="Bone" /><label for="Bone">Bone</label></li>
    <li><input type="checkbox" name="Bowel" value="Bowel" /><label for="Bowel">Bowel</label></li>
    <li><input type="checkbox" name="Brain" value="Brain" /><label for="Brain">Brain</label></li>
    <li><input type="checkbox" name="Intestines" value="Intestines" /><label for="Intestines">Intestines</label></li>
    <li><input type="checkbox" name="Liver" value="Liver" /><label for="Liver">Liver</label></li>
    <li><input type="checkbox" name="Lungs" value="Lungs" /><label for="Lungs">Lungs</label></li>
    <li><input type="checkbox" name="LymphNodes" value="LymphNodes" /><label for="LymphNodes">Lymph Nodes</label></li>
    <li><input type="checkbox" name="Skin" value="Skin" /><label for="Skin">Skin</label></li>
    <li><input type="checkbox" name="None" value="None" /><label for="None">None</label></li>
    <li><input type="checkbox" name="Other" value="Other" onclick="dynInput(this);"/><label for="Other">Other</label> <p id="insertinputs"></p></li>
</ul>
                            
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" ng-click="vm.saveUser()" value="Save Changes">
                                <div class="flash-message" ng-if="flash">
                                  <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>





    </div>
</div>
