<style type="text/css">
  /* CSS used here will be applied after bootstrap.css */


  .pagetitle {
    border-bottom:1px 
    solid #cccccc; 
    padding-bottom:30px; 
    margin-bottom:30px;
  }

  .checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
  }

  .checkbox-grid li label {
    margin-left: 10px;
  }
</style>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a ui-sref="home">Home</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>

        <div class="row-fluid top30 pagetitle">
          <div class="container">  
            <div class="row">
              <div class="col-md-12"><h1>Profile</h1></div>
            </div>
          </div>
        </div>

        <div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a ui-sref="account" data-target="#personal" data-toggle="tab" class="nav-link">Personal</a>
                </li>
                <li class="nav-item">
                    <a ui-sref="medical_profile" data-target="#medical" data-toggle="tab" class="nav-link active">Medical</a>
                </li>
                <li class="nav-item">
                    <a ui-sref="support_team" data-target="#team" data-toggle="tab" class="nav-link">My Team</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="personal">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="cancerType">Cancer type</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" id="cancerType" ng-model="vm.user.cancerType">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="stage">Stage</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="stage" id="stage" ng-model="vm.user.stage">
                                  <option disabled value="">Select stage</option>
                                  <option value="one">I</option>
                                  <option value="two">II</option>
                                  <option value="three">III</option>
                                  <option value="four">IV</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="metastasis">Metastasis <br>(Select all that apply)</label>
                            
                              <ul class="checkbox-grid col-lg-9">
                                <li><input type="checkbox" ng-model="vm.user.metastasis.bone" name="bone" value="bone" /><label for="bone">Bone</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.bowel" name="bowel" value="bowel" /><label for="bowel">Bowel</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.brain" name="brain" value="brain" /><label for="brain">Brain</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.intestines" name="intestines" value="intestines" /><label for="intestines">Intestines</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.liver" name="liver" value="liver" /><label for="liver">Liver</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.lungs" name="lungs" value="lungs" /><label for="lungs">Lungs</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.lymphNodes" name="lymphNodes" value="lymphNodes" /><label for="lymphNodes">Lymph Nodes</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.skin" name="skin" value="skin" /><label for="skin">Skin</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.none" name="none" value="none" /><label for="none">None</label></li>
                                <li><input type="checkbox" ng-model="vm.user.metastasis.other" name="other" value="other" /><label for="other">Other</label></li>
                            </ul>   
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="treatment">Types of Treatment <br>(Select all that apply)</label>
                            
                              <ul class="checkbox-grid col-lg-9">
                                <li><input type="checkbox" ng-model="vm.user.treatment.chemotherapy" name="chemotherapy" value="chemotherapy" /><label for="chemotherapy">Chemotherapy</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.hormoneTherapy" name="hormoneTherapy" value="hormoneTherapy" /><label for="hormoneTherapy">Hormone Therapy</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.immunotherapy" name="immunotherapy" value="immunotherapy" /><label for="immunotherapy">Immunotherapy</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.precisionMedicine" name="precisionMedicine" value="precisionMedicine" /><label for="precisionMedicine">Precision Medicine</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.radiationTherapy" name="radiationTherapy" value="radiationTherapy" /><label for="radiationTherapy">Radiation Therapy</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.stemCellTransplant" name="stemCellTransplant" value="stemCellTransplant" /><label for="stemCellTransplant">Stem Cell Transplant</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.surgery" name="surgery" value="surgery" /><label for="surgery">Surgery</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.targetedTherapy" name="targetedTherapy" value="targetedTherapy" /><label for="targetedTherapy">Targeted Therapy</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.none" name="none" value="none" /><label for="none">None</label></li>
                                <li><input type="checkbox" ng-model="vm.user.treatment.other" name="other" value="other" /><label for="other">Other</label></li>
                            </ul>   
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" ng-click="vm.saveUser()" value="Save Changes">
                                <div class="flash-message" ng-if="flash">
                                  <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
                    <img src="/app/app-content/profile.jpg" class="rounded-circle" alt="avatar">
                    <h6 class="mt-2">Patient Profile</h6>
                </div>
    </div>
</div>





    </div>
</div>
