<link rel="stylesheet" type="text/css" href="/app/css/forum.min.css"/>

<style type="text/css">
  /* CSS used here will be applied after bootstrap.css */
  .pagetitle {
    border-bottom:1px 
    solid #cccccc; 
    padding-bottom:30px; 
    margin-bottom:30px;
  }
</style>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a ui-sref="home">Home</a>
          </li>
          <li class="breadcrumb-item active">Forum</li>
        </ol>

        
        <div class="row-fluid top30 pagetitle">
          <div class="container">  
            <div class="row">
              <div class="col-md-12"><h1>Forum</h1></div>
            </div>
          </div>
        </div>


        <div class="content">
            <div class="col-lg-1">
                <button class="btn btn-primary" ui-sref="forum">
                    <i class="fa fa-arrow-left"></i> 
                    Back to forums
                </button>
            </div>
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-9 -->
                <div class="col-md-9">

                    <br>
                    
                    <!-- begin forum-list -->
                    <ul class="forum-list forum-detail-list">
                        <li>
                            <!-- begin media -->
                            <h1><small>{{ vm.post.title }}</small></h1>
                            <hr>
                            <br>
                            <div class="media">
                                <img src="/app/app-content/profile2.jpg" alt="Mike Anamendolla" alt="">
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><strong>{{ vm.post.author }}</strong> <small>posted:</small></div>
                                <div class="post-content">
                                    {{ vm.post.body }}
                                </div>
                            </div>
                            <!-- end info-container -->
                        </li>
                        <li ng-repeat="comment in vm.post.comments">
                            <!-- begin media -->
                            <div class="media">
                                <img src="/app/app-content/profile2.jpg" alt="Mike Anamendolla" alt="">
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><strong>{{ comment.author }}</strong> <small>replied:</small></div>
                                <div class="post-content">
                                    {{ comment.body }}
                                </div>
                            </div>
                            <!-- end info-container -->
                        </li>
                    </ul>
                    <!-- end forum-list -->
                    <div class="panel panel-forum">
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" type="text" id="body" ng-model="vm.post.comment" placeholder="Add a comment..." style ="height: 130px;"></textarea>
                                </div>
                                <div class="m-t-10">
                                    <button type="submit" class="btn btn-theme" ng-click="vm.createComment()">Comment <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end comment-section -->
                </div>
                <!-- end col-9 -->
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>















    </div>
</div>