<div class="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item ng-scope" ng-if="vm.user.admin">
              <a ui-sref="admin_users">Admin</a>
          </li>
          <li class="breadcrumb-item">
              <a ui-sref="home">Home</a>
          </li>
          <li class="breadcrumb-item active">Users</li>
        </ol>

        <div class="row-fluid top30 pagetitle">
          <div class="container">  
            <div class="row">
              <div class="col-md-12"><h1>Admin</h1></div>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="row my-2">
                <div class="col-lg-8 order-lg-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a ui-sref="admin_users" data-target="#users" data-toggle="tab" class="nav-link active">Users</a>
                        </li>
                        <li class="nav-item">
                            <a ui-sref="admin_forum" data-target="#posts" data-toggle="tab" class="nav-link">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a ui-sref="admin_events" data-target="#events" data-toggle="tab" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item">
                            <a ui-sref="admin_resources" data-target="#resources" data-toggle="tab" class="nav-link">Resources</a>
                        </li>
                    </ul>
                    <div class="tab-content py-4">
                        <div class="tab-pane active" id="users">
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Username</th>
                                      <th>Type</th>
                                      <th>Email</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="user in vm.users">
                                      <td>{{user.username}}</td>
                                      <td>{{user.userType}}</td>
                                      <td>{{user.email}}</td>
                                      <td>{{user.firstName}}</td>
                                      <td>{{user.lastName}}</td>
                                      <td><button ng-if="!user.admin" ng-click="vm.deleteUser(user._id)"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>